// Сброс стилей

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

// Шрифты
@font-face {
    font-family: Nirmala;
    src: url("assets/fonts/Nirmala\ ui.ttf");
}

@font-face {
    font-family: Minion;
    src: url("assets/fonts/MinionPro-Regular.otf");
}


// Обёртка
.wrapper {
    overflow: hidden;
}

// Контейнер контента
.container {
    max-width: 1280/1920 * 100%;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .container {
        max-width: 280px; 
    }
}

// Переменные
$accent-color: #00814F;
$hover-color: #00B871;
$main-white: white;
$secondary-white: #F2F2F2;
$text-color-secondary: #666666;
$text-color: #333333;
$pressed-btn-color: #004B2E;
$third-white: #F7F6F3;

// --------HEADER-----------------
.header {
    min-height: 160px;
    padding: 42px 0;
    background: url("assets/images/header_background.jpg");
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 404px;

            .header__logo {
                width: 79px;
                height: 76px;
                background: url('assets/images/logo.jpg') no-repeat;
            }

            @media (max-width: 600px) {
                .header__logo {
                    width: 64px;
                    height: 62px;
                }
            }

            .header__descriptor {
                width: 298px;
                line-height: 24/16 * 100%;
                color: $text-color-secondary;
            }

            @media (max-width: 734px) {
                .header__descriptor {
                    width: 200px;
                    font-size: 1.3rem;
                    margin-right: 20px;
                } 
            }

            @media (max-width: 600px) {
                .header__descriptor {
                    display: none;
                }  
            }

        }

        @media (max-width: 600px) {
            .header__left {
                width: 62px;
            }
        }

        .header__right {
            width: 109px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__language-bar {
                width: 39.31px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    display: block;
                    font-family: Minion;
                    font-size: 20/16 * 1rem;
                    line-height: 24/20 * 100%;
                    color: $accent-color;
                }

                @media (max-width: 600px) {
                    font-size: 1rem;
                    line-height: 19.2/16 * 100%;
                }

                span:hover {
                    color: $hover-color;
                }
            }

            @media (max-width: 600px) {
                .header__language-bar {
                    width: 37px;
                }
            }

            .header__burger-menu {
                width: 40px;
                height: 16px;

                &:hover > div {
                    background: $hover-color;
                    transition: 0.3s;
                }

                & > div {
                    background: $accent-color;
                    height: 2px;
                }

                & > div:not(:nth-child(2)) {
                    width: 100%;
                }

                & > div:nth-child(2) {
                    width: 75%;
                }

                &:hover > div:nth-child(2) {
                    width: 100%;
                    transition: 0.3s;
                }

                & > div:not(:last-child) {
                    margin-bottom: 5px  ;
                }
            } 
        }
    }
}

@media (max-width: 600px) {
    .header {
        min-height: 95px;
        padding: 20px 0 13px;
    }
}

.first-screen {
    min-height: 849.72px;
    padding: 16px 0 176px;
    
    .first-screen__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 42px;

        .first-screen__main-info {
            width: 711px;
            color: $text-color;

            .main-info__heading {
                font-family: Minion;
                font-size: 40/16 * 1rem;
                line-height: 48/40 * 100%;
                margin-bottom: 12px;
            }

            .main-info__sub-text {
                font-size: 20/16 * 1rem;
                line-height: 30/20 * 100%;
                margin-bottom: 20px;
                width: 474px;
            }

            .main-info__button {
                width: 204px;
                height: 45px;
                background-color: $accent-color;
                color: $main-white;
                font-family: Nirmala;
                font-weight: 700;
                line-height: 21.28/16 * 100%;
            }
        }

        .first-screen__video {
            width: 746px;
            height: 548px;
            background: url("assets/images/Video.jpg");
            background-size: cover;
            margin-right: -230px;
            position: relative;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                transform: translateY(-50%);
            }
        }
    }

    .first-screen__scroll {
        display: block;
        margin: 0 auto;
    }
}