*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

@font-face {
  font-family: Nirmala;
  src: url("assets/fonts/Nirmala ui.ttf");
}
@font-face {
  font-family: Minion;
  src: url("assets/fonts/MinionPro-Regular.otf");
}
.wrapper {
  overflow: hidden;
}

.container {
  max-width: 66.6666666667%;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}
.header {
  min-height: 160px;
  padding: 42px 0;
  background: url("assets/images/header_background.jpg");
  background-size: cover;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 404px;
}
.header .container .header__left .header__logo {
  width: 79px;
  height: 76px;
  background: url("assets/images/logo.jpg") no-repeat;
}
@media (max-width: 600px) {
  .header .container .header__left .header__logo {
    width: 64px;
    height: 62px;
  }
}
.header .container .header__left .header__descriptor {
  width: 298px;
  line-height: 150%;
  color: #666666;
}
@media (max-width: 734px) {
  .header .container .header__left .header__descriptor {
    width: 200px;
    font-size: 1.3rem;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .header .container .header__left .header__descriptor {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .container .header__left {
    width: 62px;
  }
}
.header .container .header__right {
  width: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .header__right .header__language-bar {
  width: 39.31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .header__right .header__language-bar span {
  display: block;
  font-family: Minion;
  font-size: 1.25rem;
  line-height: 120%;
  color: #00814F;
}
@media (max-width: 600px) {
  .header .container .header__right .header__language-bar {
    font-size: 1rem;
    line-height: 120%;
  }
}
.header .container .header__right .header__language-bar span:hover {
  color: #00B871;
}
@media (max-width: 600px) {
  .header .container .header__right .header__language-bar {
    width: 37px;
  }
}
.header .container .header__right .header__burger-menu {
  width: 40px;
  height: 16px;
}
.header .container .header__right .header__burger-menu:hover > div {
  background: #00B871;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .header__right .header__burger-menu > div {
  background: #00814F;
  height: 2px;
}
.header .container .header__right .header__burger-menu > div:not(:nth-child(2)) {
  width: 100%;
}
.header .container .header__right .header__burger-menu > div:nth-child(2) {
  width: 75%;
}
.header .container .header__right .header__burger-menu:hover > div:nth-child(2) {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .header__right .header__burger-menu > div:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .header {
    min-height: 95px;
    padding: 20px 0 13px;
  }
}
.first-screen {
  min-height: 849.72px;
  padding: 16px 0 176px;
}
.first-screen .first-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 42px;
}
.first-screen .first-screen__info .first-screen__main-info {
  width: 711px;
  color: #333333;
}
.first-screen .first-screen__info .first-screen__main-info .main-info__heading {
  font-family: Minion;
  font-size: 2.5rem;
  line-height: 120%;
  margin-bottom: 12px;
}
.first-screen .first-screen__info .first-screen__main-info .main-info__sub-text {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 20px;
  width: 474px;
}
.first-screen .first-screen__info .first-screen__main-info .main-info__button {
  width: 204px;
  height: 45px;
  background-color: #00814F;
  color: white;
  font-family: Nirmala;
  font-weight: 700;
  line-height: 133%;
}
.first-screen .first-screen__info .first-screen__video {
  width: 746px;
  height: 548px;
  background: url("assets/images/Video.jpg");
  background-size: cover;
  margin-right: -230px;
  position: relative;
}
.first-screen .first-screen__info .first-screen__video svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.first-screen .first-screen__scroll {
  display: block;
  margin: 0 auto;
}
