.header {
    background-image: url('../assets/header/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 400;
    margin: 0 -15px;

    .header__container {
        padding: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__left {
            display: flex;
            column-gap: 30px;
            align-items: center;
            
            .header__logo {
                width: 79px;
                aspect-ratio: 76/77;
                background: url("../assets/header/logo.jpg") no-repeat;
                background-size: contain;
                background-position: center;
            }
    
            .header__description {
                font-size: 1.6rem;
                line-height: 24/16 * 100%;
                color: $secondary-text-color;
                max-width: 298px;
            }

            @media (max-width: 767px) {
                .header__description {
                    display: none;
                }
            }
        }

        .header__right {
            display: flex;
            column-gap: 30px;
            
            .header__language {
                min-width: 50px;
                display: flex;
                justify-content: space-between;
                font-size: 2rem;
                line-height: 24/20 * 100%;
                color: $accent-color;
                font-family: 'Minion Pro';
                align-items: center;
                cursor: pointer;
    
                div {
                    width: 11px;
                    height: 8px;
                    background-image: url("../assets/header/arrow.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
    
            .header__burger-menu {
                min-width: 40px;
                height: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
    
                .burger-menu__band {
                    height: 2px;
                    background-color: $accent-color;

                    &:nth-child(2) {
                        width: 30px;
                    }
                }
            }
        }
    }
}