@keyframes modalProtrusion {
    from {
        top: -100%;
    }
    to {
        top: 20px;
    }
}

@keyframes modalHidden {
    from {
        top: 20px;
    }
    to {
        top: -100%;
    }
}

.modal-form {
    position: fixed;
    top: -100%;
    left: 50%;
    width: 1006px;
    padding: 80px;
    color: $text-color;
    background-color: white;
    z-index: 3;
    transform: translateX(-50%);
    animation: modalProtrusion 1s ease forwards;

    .modal-form__title {
        font-weight: 700;
        font-size: 3rem;
        line-height: 35/30 * 100%;
        width: 846/1066 * 100%;
        text-align: center;
        margin: 0 auto 24px;
    }

    @media (max-width: 1049px) {
        .modal-form__title {
            width: 89%;
        }
    }

    @media (max-width: 849px) {
        .modal-form__title {
            width: 95%;
            font-size: 2.2rem;
        }
    }

    @media (max-width: 360px) {
        .modal-form__title {
            font-size: 1.7rem;
            margin-bottom: 12px;
        }
    }

    .modal-form__sub-title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 28/24 * 100%;
        text-align: center;
        margin: 0 auto 26px;
    }

    @media (max-width: 849px) {
        .modal-form__sub-title {
            font-size: 1.8rem;
        }
    }

    @media (max-width: 360px) {
        .modal-form__sub-title {
            font-size: 1.4rem;
            margin-bottom: 13px;
        }
    }

    .modal-form__form {
        color: $secondary-text-color;
        width: 625/1066 * 100%;
        text-align: center;
        margin: 0 auto 24px;

        label {
            margin-left: auto;
            margin-right: auto;
            display: block;
            
            &:not(:last-child) {
                margin-bottom: 24px;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
                line-height: 150%;
                text-align: start;
            }

            input {
                outline: none;
                width: 100%;
                height: 64px;
                padding: 20px 10px;
                font-size: 1.8rem;
                font-family: 'Nirmala UI';
                font-weight: 400;
                line-height: 150%;
                background-color: #f2f2f2;

                &::placeholder {
                    font-size: 1.6rem;
                    font-family: 'Nirmala UI';
                    font-weight: 400;
                    line-height: 150%;
                    color: $secondary-text-color;
                }
            }

        }
        .modal-form__button {
            width: 290/625 * 100%;
            margin: 0 auto;
        }

        @media (max-width: 604px) {
            .modal-form__button {
                width: 61%;
            } 
        }

        @media (max-width: 444px) {
            .modal-form__button {
                width: 81%;
            } 
        }

        @media (max-width: 339px) {
            .modal-form__button {
                width: 95%;
            } 
        }

    }

    @media (max-width: 1049px) {
        .modal-form__form {
            width: 69%;
        }
    }

    @media (max-width: 849px) {
        .modal-form__form {
            width: 94%;
        }
    }
}

@media (max-width: 1049px) {
    .modal-form {
        width: 800px;
        padding: 30px;
    }
}

@media (max-width: 849px) {
    .modal-form {
        width: 600px;
        padding: 30px;
    }
}

@media (max-width: 604px) {
    .modal-form {
        width: 450px;
        padding: 30px 15px;
    }
}

@media (max-width: 464px) {
    .modal-form {
        width: 95%;
        padding: 15px 15px;
    }
}