.range {
    padding: 225px 0 249px;
    background-image: url("../../public/assets/range/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .range__container {

        .range__body {
            display: flex;
            column-gap: 60px;
            margin-bottom: 60px;
            
            .range__descripton {
                font-weight: 400;
                font-size: 2rem;
                line-height: 30/20 * 100%;
                color: $accent-color;
                
                h2 {
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 35.16/30 * 100%;
                    color: $text-color;

                    &:not(:last-child) {
                        margin-bottom: 73px;
                    }

                    @media (max-width: 574px) {
                        &:not(:last-child) {
                            margin-bottom: 26px;
                        } 
                    }
                }

                @media (max-width: 574px) {
                    h2 {
                        font-size: 1.8rem;
                    }
                }

                .range__list {
                    
                    .range__list__item {
                        padding-left: 32px;
                        background-image: url("../../public/assets/range/list-circle.jpg");
                        background-repeat: no-repeat;
                        background-position-y: 50%;
                        margin-bottom: 72px;

                        &:not(:last-child) {
                            margin-bottom: 22px;
                        }
                    }

                    @media (max-width: 574px) {
                        .range__list__item {
                            margin-bottom: 20px;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                        }
                    }

                }

                & > p {
                    max-width: 382px;
                    margin-bottom: 30px;
                }

                @media (max-width: 574px) {
                    & > p {
                        margin-bottom: 10px;
                    }
                }

                .range__buttons {
                    display: flex;
                    column-gap: 20px;

                    .range__button {
                        width: 270px;
                    }

                    @media (max-width: 574px) {
                        .range__button {
                            width: 100%;
                        }
                    }
                }

                @media (max-width: 574px) {
                    .range__buttons {
                        flex-direction: column-reverse;
                        row-gap: 5px;
                    }
                }
            }

            @media (max-width: 574px) {
                .range__descripton {
                    font-size: 1.4rem;
                }
            }


                .range__carousel {
                    display: flex;
                    column-gap: 30px;
                    overflow: hidden;

                    .range__carousel__item {
                        width: 516px;
                        aspect-ratio: 516/451;
                        transition: all 0.5s ease-in;
                    }
                    
                    &.second-position {
                        
                        .range__carousel__item:first-child {
                            margin-left: -546px;
                        }
                    }
                    
                    &.third-position {
                        
                        .range__carousel__item:first-child {
                            margin-left: -1092px;
                        }
                    }
                    
                    &.fourth-position {

                        .range__carousel__item:first-child {
                            margin-left: -1638px;
                        }
                    }
                    
                    &.fifth-position {

                        .range__carousel__item:first-child {
                            margin-left: -2184px;
                        }
                    }
                    
                    
                }
    
                @media (max-width: 1309px) {
                    .range__carousel {
                        column-gap: 30/1310 * 100vw;

                        &.second-position {

                            .range__carousel__item:first-child {
                                margin-left: -42vw;
                            }
                        }
    
                        &.third-position {

                            .range__carousel__item:first-child {
                                margin-left: -84vw;
                            }
                        }
    
                        &.fourth-position {
                            .range__carousel__item:first-child {
                                margin-left: -126vw;
                            }
                        }
                        
                        &.fifth-position {

                            .range__carousel__item:first-child {
                                margin-left: 0vw;
                            }
                        }
    
                        .range__carousel__item {
                            width: 516/1310 * 100vw;
                        }
    
                    }
                }
    
                @media (max-width: 1149px) {
                    .range__carousel {
                        min-width: 100vw;

                        .range__carousel__item:first-child {
                            margin-left: 106vw;
                        }

                        &.second-position {

                            .range__carousel__item:first-child {
                                margin-left: 23vw;
                            }
                        }
    
                        &.third-position {

                            .range__carousel__item:first-child {
                                margin-left: -60vw;
                            }
                        }
    
                        &.fourth-position {

                            .range__carousel__item:first-child {
                                margin-left: -125vw;
                            }
                        }
    
                        &.fifth-position {

                            .range__carousel__item:first-child {
                                margin-left: -167vw;
                            }
                        }
                    }
                }
    
                @media (max-width: 767px) {
                    .range__carousel {

                        .range__carousel__item:first-child {
                            margin-left: 122vw;
                        }

                        &.second-position {

                            .range__carousel__item:first-child {
                                margin-left: 32vw;
                            }
                        }
    
                        &.third-position {

                            .range__carousel__item:first-child {
                                margin-left: -58vw;
                            }
                        }
    
                        &.fourth-position {

                            .range__carousel__item:first-child {
                                margin-left: -135vw;
                            }
                        }
    
                        &.fifth-position {

                            .range__carousel__item:first-child {
                                margin-left: -179vw;
                            }
                        }
    
                        .range__carousel__item {
                            width: 136/320 * 100vw;
                        }
                    }
                }
        }

        @media (max-width: 1149px) {
            .range__body {
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
            }
        }

        @media (max-width: 574px) {
            .range__body {
                margin-bottom: 20px;
            }
        }

        .range__switcher {
            display: flex;
            column-gap: 128px;
            align-items: center;

            .range__arrows {
                display: flex;
                column-gap: 10px;

                .switcher-range__arrow:last-child {
                    transform: rotate(180deg);
                }

                .switcher-range__arrow.active {
                    cursor: pointer;

                    g {
                        opacity: 1;
                    }
                    rect {
                        fill: $accent-color;
                    }
                }
            }

            .switcher-range__scale {
                height: 2px;
                width: 1062px;
                background-color: #c4c4c4;
                display: flex;
                
                .switcher-range__scale__item {
                    transition: all 0.5s ease;
                    height: 100%;
                    flex: 0 0 20%;
                }

                .switcher-range__scale__item.active {
                    background-color: $accent-color;
                }
            }
            
            @media (max-width: 1299px) {
                .switcher-range__scale {
                    width: 719px;
                } 
            }

            @media (max-width: 574px) {
                .switcher-range__scale {
                    width: 160px;
                    flex-shrink: 0;
                } 
            }
        }

        @media (max-width: 574px) {
            .range__switcher {
                column-gap: 32px;
            }
        }
    }
}

@media (max-width: 574px) {
    .range {
        padding: 50px 0 60px;
    }  
}