$secondary-text-color: #666666;
$accent-color: #00814F;
$text-color: #333333;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600);
@font-face {
  font-family: 'Nirmala UI';
  src: url("./assets/fonts/Nirmala-ui.otf");
}
@font-face {
  font-family: "Minion Pro";
  src: url("./assets/fonts/MinionPro-Regular.otf");
}

@import "./styles/header.scss";
@import './styles/wellcome-section.scss';
@import './styles/range.scss';
@import './styles/sertificates.scss';
@import './styles/clients.scss';
@import './styles/stages.scss';
@import './styles/exhibitions.scss';
@import './styles/employers.scss';

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  font-family: Roboto;
  background-color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  background-color: $accent-color;
  color: white;
  font-family: sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  display: flex;
  min-height: 45px;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #005c39;
  }

  &.button_transpared {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $accent-color;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: white;
    }
  }
}

.text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3/2 * 100%;
}

._ibg {
  position: relative;

  img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0;
      object-fit: cover;
  }
}

.underfooter {
  background-image: url("../public/assets/underfooter/background.jpg");
  background-image: cover;
}